.paginatorContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    background-color: #90cea1;
    padding: 0.6rem 0;
}

.paginatorBtn {
    visibility: visible;
    color: white;
    background-color: #0d253f;
    padding: 0.3rem 3rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    cursor: pointer;
}

.pageLink {
    font-size: 1.2rem;
    font-weight: 500;
    background-color: #72a37f50 ;
    color: #0d253f;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    cursor: pointer;

}

.paginatorBtn:hover {
    color: #0d253f;
    background-color: white;
    font-weight: bold;
}

.pageLink:hover {
    background-color: #72a37fab ;
    
}

.hidden {
    visibility: hidden;
}

.paginatorText {
    font-size: 1.5rem;    
    font-weight: bold;
    color: #0d253f;
}

.active {
    background-color: #0d253f;
    color: white;
    font-weight: bold;
}