body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Palanquin', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainHeader {
  text-align: center;
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 2.5rem;
  color: #032541;
  text-transform: uppercase;
}


/* ----- UpcomingFilms ----- */

.FilmsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90vw;
  text-align: center;
  margin: auto;
}



/* ----- Film Details ----- */

.filmDetailContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80vw;
  margin: 2rem auto;
}

.filmDetailContainer img {
  border-radius: 1rem;
  height: 100%;
  width: 40%;
}

.filmDetailCard {
  width: 50%;
  text-align: justify;
}

.filmDetailCard .tagline {
  font-weight: 700;
  font-size: 1.5rem;
  color: #032541;
  font-style: italic;
  text-align: center;
}

.filmDetailCard .infoTag {
  font-weight: 700;
  color: #032541;
  text-transform: uppercase;
}

.filmDetailCard .genre {
  background-color: teal;
  color: whitesmoke;
  margin: 0 0.5rem;
  padding: 0 1rem;
  border-radius: 1rem;
}

.filmDetailCard .average {
  font-weight: 700;
  font-size: 3rem;
  color: #032541;
  text-transform: uppercase;
}

.filmDetailCard a.toTMDb {
  border-radius: 16px;
  color: whitesmoke;
  background-color: #032541;
  float: right;
  text-align: center;
  font-size: 1rem;
  text-decoration-line: none;
}

img.buttonToTMDb {
  margin: auto;
  display: block;
  height: 2rem;
  border-radius: 0;
}


/* ----- Footer ----- */

footer {
  width: 100%;
  background-color: #032541;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

footer img {
  height: 3rem;
  margin: 1rem;
}

footer p {
  color: whitesmoke;
  font-size: 3rem;
}