body {
    background-color: blueviolet;
    font-family: sans-serif;
}


main {
    background-color: cornsilk;
    border-radius: 10px;
    height: 90vh;
    width: 400px;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Cabecera */
header {
    color: darkgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h2 {
    padding: 15px;
}


/* Parte de cubos */
section {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
}

section div {
    width: 85%;
    height: 50px;
    background-color: darkgray;
    border-radius: 10px;
}


/* Pie de pagina  */
footer {
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 2;
    row-gap: 1rem;
    margin-bottom: 15px;
}

.circle {
    background-color: darkgray;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    flex-shrink: 0;
}

.footer-1 {
    width: 150px;
    height: 50px;
    background-color: darkgray;
    border-radius: 10px;
    flex-shrink: 0;
}
