/* Estilos generales */
nav {
    width: 400px;
    background-color: rgb(228, 228, 228);
    border: rgb(180, 180, 180) solid 1px;
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
}


/* Estilo con flex */
.container-flex{
    display: flex;
    justify-content: space-between;
}


/*Estilo con float*/

a.next {
    float: right;
}
